body {
    background-color: aliceblue;
}

#profile .counter {
    background-color: #636581;
}

#profile .counter figure {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    position: relative;
}

#profile .counter figure span {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}
